{% extends "container.html" %}

{% block body %}
<h1>My documents</h1>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for document in docs %}
    <div class="col">
        <div class="card">
          <img src="{{url_for('static', filename='images/doc.png')}}" class="card-img-top" alt="Document" />
          <div class="card-body">
            <h2 class="card-subtitle mb-2 text-muted h6">{{document.doc_title}}</h2>
              <p class="card-text text-center">
                  <a href="{{ url_for('pages_all', doc_id=document.doc_id)}}" class="btn btn-sn btn-primary"><i class="bi bi-eye"></i> Edit</a>
              </p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}