{% extends "container.html" %}

{% block body %}
<h1>{{ doc.doc_title}}</h1>
<h2 class="h4">Options</h2>
<div class="p-2 offset-1">
    <a class="btn btn-sm btn-primary" href="{{url_for('doc_abbr', doc_id=doc.doc_id)}}"><i class="bi bi-arrows-angle-expand"></i> Table of Abbreviations</a>
</div>
<h2 class="h4">Documents</h2>
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for page in pages %}
    <div class="col">
        <div class="card">
          <img src="{{url_for('static', filename='images/page.png')}}" class="card-img-top" alt="Page" />
          <div class="card-body">
            <h3 class="card-subtitle mb-2 text-muted h6">{{page.page_title}}</h3>
              <p class="card-text text-center">
                  <a href="{{ url_for('pages_get', doc_id=doc.doc_id, page_id=page.page_id) }}" class="btn btn-sn btn-primary"><i class="bi bi-eye"></i> Edit</a>
                  <a href="{{ url_for('pages_tei', doc_id=doc.doc_id, page_id=page.page_id) }}" class="btn btn-sn btn-secondary"><i class="bi bi-eye"></i> TEI</a>
              </p>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}